.width-24p {
    width: 24%;
}

.width-38p {
    width: 38%;
}

.box {
    border: 1px solid black;
}

.border1 {
    border: 1px solid black;
    border-radius: 50%;
}

.height-300px {
    height: 340px;
}

.nextBtn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.doneBtn {
    background-color: #00bf63;
    color: black;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.backBtn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.grey {
    color: gray;
}

@media only screen and (max-width: 600px){
    .make100w {
        width: 100%;
    }
}