<div class="full-width gap-1em flex center-center column">
    <mat-card class="full-width">
        <img class="card" src="../../../assets/Be You Tiful Neon Sign Custom Nail_eyelash_hair_beauty Salon Neon Light Personalized Name Sign Business Logo Lashes Bar Makeup Studio Decor - Etsy.jpeg" alt="homepage" width="100%">
    </mat-card>
    <mat-card class="full-width row flex">
        <div class="half-width flex center-center column text-center">
            <h3>Join our Instagram page to stay updated</h3>
            <p><a href="https://www.instagram.com/fanmobilesalon?igsh=MXVlanR4dWE0eWx2Zg==">&#064;fanmobilesalon</a></p>
        </div>
        <div class="half-width">
            <a href="https://www.instagram.com/fanmobilesalon?igsh=MXVlanR4dWE0eWx2Zg==">
                <img src="../../../assets/Desenho_De_Gradiente_Botão_Mídia_Social_PNG___Desenho_De_Botão__Desenho_Para_Redes_Sociais__Logo_Clipart_Imagem_PNG_e_PSD_Para_Download_Gratuito-removebg-preview.png" width="100%" alt="join-pic">
            </a>
        </div>
    </mat-card>
    <mat-card class="full-width row flex">
        <div class="half-width flex column text-center center-center">
            <h3>Message our whatsApp channel to stay updated and book!</h3>
            <p><a href="https://wa.me/27727470809">+27 72 747 0809</a></p>
        </div>
        <div class="half-width flex center-center">
            <a href="https://wa.me/27727470809">
                <img src="../../../assets/WhatsApp_vai_poupar_tempo_de_vida_de_muitos_usuários_com_ESTA_função_em_2024__entenda-removebg-preview.png" width="100%" alt="WhatsApp">
            </a>
        </div>
    </mat-card>
</div>
